@import url(https://fonts.googleapis.com/css?family=Erica+One);

.contactUScontainer{
    margin-left: -6rem;
    width: 81rem;
}
.basicInformation {
    margin-left: 6rem;
    padding-left: 4rem;
    padding-right: 4rem;
    width: 70rem;
}

.topTitle {
    padding-top: 2rem;
    text-align: center;
    font-size: 60px;
    font-family: 'Erica One', cursive;
    text-shadow: 0 1px 0 #CCC, 0 2px 0 #CCC, 0 3px 0 #CCC, 0 4px 0 #CCC, 0 5px 0 #CCC, 0 6px 0 transparent, 0 7px 0 transparent, 0 8px 0 transparent, 0 9px 0 transparent, 0 10px 10px rgba(0, 0, 0, 0.6);
    color: rgb(0, 0, 0);
}

.topInformation {
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    margin-top: 1.5rem;
    
    color: rgb(3, 2, 2);
    padding: 1.3rem;
    font-size: 1.2rem;
}

.cards {
    display: inline-block;
    margin: 0.9rem;
    margin-bottom: 2rem;
    text-align: justify;
    background-color: #136F63;
    border-style: solid;
    border-color: #041B15;
    border-radius: 5%;
    border-width: 0.25rem;
    width: 402px;
    padding: 20px;
    -webkit-box-shadow: -1px 8px 20px -2px rgb(0, 0, 0);
    box-shadow: -1px 8px 20px -2px rgb(0, 0, 0);
}

.tituloCapitulo {
    font-family: Copperplate, Papyrus, fantasy;
    text-align: center;
    border-style: solid;
    border-color: #041B15;
    border-width: 0.25rem;
    background-color: #22AAA1;
    letter-spacing: -1.5px;
    font-size: 1.9rem;
}

ul,
li {
    padding: 0;
    margin: 0;
    list-style: none;
}

ul.slider {
    border-style: solid;
    position: relative;
    background-color: rgb(255, 255, 255);
    width: 22 rem;
    border-width: 0.25rem;
    height: 17rem;
}

ul.slider li {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 0rem;
    top: 0rem;
    opacity: 0;
    width: inherit;
    transition: opacity .5s;
    background:transparent;
}

ul.slider li:first-child {
    opacity: 1;
    /*Mostramos el primer <li>*/
}

ul.slider li:target {
    opacity: 1;
    /*Mostramos el <li> del enlace que pulsemos*/
}

.iconos {

    height: 8rem;
    width: 8rem;
    border-radius: 50%;
    margin-top: -0.5rem;
    margin-left: -0.7rem;
}
.user-name{
    text-decoration: underline;
    font-size: 2rem;
    padding-bottom: 0.3rem;
    font-weight: bold;
    text-shadow: gray 0.12rem 0;
    font-family: 'Times New Roman', Times, serif;
}

.user-rol,.user-mail{
    text-decoration: underline;
    font-family:'Times New Roman', Times, serif;
}
.card {
    
    display: inline-block;
    text-align: center;
    margin: 1%;
    font-family: 'Reem Kufi', sans-serif;
    width: 21.61rem;
    height: 16.05rem;
    padding: 4%;
    border-radius: 3% !important;
    -webkit-box-shadow: -1px 8px 20px -2px rgba(0, 0, 0, 0.55);
    box-shadow: -1px 8px 20px -2px rgba(0, 0, 0, 0.55);
}

ul.menu {
    border-color: #041B15;
border-width: 0.25rem;
background-color: #22AAA1;
    margin: 0.4rem;
    margin-left: 0rem;
    border-style: solid;
    position: relative;
    width: 22.2rem;
    height: 3.5rem;
}

.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

.menu li {
    display: inline-block;
    padding: 0.5rem;
    text-align: center;
}

.menu li a {
    display: inline-block;
    color: rgb(255, 255, 255);
    text-decoration: none;
    background-color: #041B15;
    font-family: Copperplate, Papyrus, fantasy;
    padding: 0.1rem;
    width: 40px;
    height: 40px;
    font-size: 1.7rem;
    border-radius: 100%;
    -webkit-box-shadow: -1px 8px 20px -2px rgba(0, 0, 0, 0.55);
    box-shadow: -1px 8px 20px -2px rgba(0, 0, 0, 0.55);
}
