.login-password-form {
  width: 400px;
  height: 410px;
  border-radius: 3%;
  padding: 20px;
  margin-top: 2%;
  text-align: center;
  border: #dbdbdb 2px solid;
  background-color: #f1f2f6;
}

.lock-img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  text-align: center;
  align-items: center;
}

.recover-password-description {
  font-size: 15px;
}

.btn-recover-password {
    width: 355px;
}
